*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.cuerpo{
    background-color: black;
}

.top{
    background: rgb(71,7,19);
    background: linear-gradient(180deg, rgba(71,7,19,1) 0%, rgba(22,8,8,1) 30%);
    width: 100%;
    height: 150px;
    align-items: center;
    padding-left: 2%;
    padding-right: 5%;
    padding-top: 3px;
    margin-bottom: 5px;
}

.enlace{
    position: absolute;
}

.logo{
    height: 150px;
    width: 225px;
}

.menu{
    border-radius: 15px;
    font-family: 'Secular One', sans-serif;
    float: right;
}

.menu li{
    display: inline-block;
    line-height: 135px;
    margin: 0 5px;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
}

.menu li a:hover{
    background: rgb(71, 7, 19);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.checkbtn{
    float: right;
    line-height: 140px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.titulo1{
    font-family: 'Black Ops One';
    border: solid black;
    color: black;
    text-align: center;
    font-size: 75px;
    background: rgb(207,0,0);
    background: radial-gradient(circle, rgba(207,0,0,1) 50%, rgba(2,0,36,1) 95%);
    text-shadow: 1px 1px black;
    margin: 0;
}

.fondo{
    background-image: url(../assets/img/fotoinicio.jpg);
    background-position-y: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.titulo2{
    font-family: 'Secular One', sans-serif;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
}

.mancuerna{
    width: 450px;
}

.boton{
    text-decoration: none;
    font-family: 'Black Ops One';
    font-size: 55px;
    color: rgb(196, 3, 3);
    text-shadow: 3px 3px black;
    text-align: center;
}

#b{
    padding-top: 100px;
}

.boton:hover{
    animation-name: pulse;  
    animation-iteration-count: 1;
    animation-duration: 1s;
    font-size: 60px;
}

@keyframes pulse{
    0%{font-size: 55px;}
    50%{font-size: 65px;}
    100%{font-size: 60px;}
}

.pie{
    background: rgb(22,8,8);
    background: linear-gradient(180deg, rgba(22,8,8,1) 50%, rgba(71,7,19,1) 100%);
    height: 63px;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    position: relative;
    bottom: 0;
}

.foot{
    padding-left: 10px;
    padding-right: 10px;
}

.titulo3{
    font-family: 'Black Ops One';
    border: solid black;
    color: black;
    text-align: center;
    font-size: 75px;
    background: rgb(207,0,0);
    background: radial-gradient(circle, rgba(207,0,0,1) 50%, rgba(2,0,36,1) 95%);
    margin: 0;
}

.texto1{
    color: white;
    text-shadow: 2px 2px black;
    margin-left: 150px;
    font-size: 20px;
    font-family: 'Secular One', sans-serif;
    margin-right: 150px;
    padding-top: 15px;
}

.subtitulo{
    font-family: 'Black Ops One';
    font-size: 35px;
    color: rgb(196, 3, 3);
    text-align: center;
}

.texto2{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Secular One', sans-serif;
    text-align: justify;
}

.img1{
    height: 200px;
}

.espacio{
    padding-top: 75px;
}

.bloque2{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 125px;
    padding-top: 50px;
}

.bloque3{
    padding-top: 50px;
    padding-bottom: 10px;
}

@media screen and (max-width: 1200px) {
    #b{
        padding-top: 0;
    }
    .mancuerna{
        width: 400px;
    }
    .fondo{
        height: auto;
    }
    .checkbtn{
        display: block;
    }
    .menu{
        position: fixed;
        width: 50%;
        height: 100vh;
        background: rgb(71,7,19);
        background: linear-gradient(90deg, rgba(71,7,19,1) 0%, rgba(0,0,0,1) 30%);
        top: 150px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    .menu li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .menu li a{
        font-size: 20px;
    }
    .menu li a:hover{
        background: none;
        color: rgb(199, 18, 18);
    }
    #check:checked ~ ul{
        left: 0;
    }
    
}

@media screen and (max-width: 1024px) {
    #b{
        padding-top: 0;
    }
    .mancuerna{
        width: 350px;
    }
    
}

@media screen and (max-width: 767px) {
    .logo{
        height: 75px;
        width: 112px;
        margin-top: 35px;
        margin-left: 20px;
    }
    .subtitulo{
        font-size: 25px;
    }
    .texto2{
        font-size: 10px;
    }
    .img1{
        height: 50px;
    }
    #b{
        padding-top: 0;
    }
    .mancuerna{
        width: 300px;
    }
    .img1{
        height: 150px;
    }
    .titulo3{
        font-size: 40px;
    }
    .texto1{
        font-size: 10px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .titulo1{
        font-size: 50px;
    }
    .titulo2{
        font-size: 25px;
    }
    .boton{
        font-size: 30px;
    }
    .boton:hover{
        animation-name: pulse;  
        animation-iteration-count: 1;
        animation-duration: 1s;
        font-size: 35px;
    }
    
    @keyframes pulse{
        0%{font-size: 30px;}
        50%{font-size: 40px;}
        100%{font-size: 35px;}
    }
}